<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>

	<!-- NAVBAR -->
	<div class="navbar">
		<div class="div_for_table">
			<table class="navbar_table">
					<tr>
						<td><a class="navbar_link" href="">View All</a></td>
						<td><a class="navbar_link" href="">Home</a></td>
					</tr>
			</table>
		</div>
	</div>

	<div class="outer_div_for_form">
		<form action="" method="" class="store_form">
			Store Name: <input type="text" name="store">
			Address 1: <input type="text" name="addressone">
			Address 2: <input type="text" name=addresstwo>
			City: <input type="text" name="city">
			State: <input type="text" name="state">
			Zipcode: <input type="text" name="zip">
			<button>CREATE</button>
		</form>
	</div>	

</body>
</html>