<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>

	<!-- NAVBAR -->
	<div class="navbar">
		<div class="div_for_table">
			<table class="navbar_table">
					<tr>
						<td><a class="navbar_link" href="">View All</a></td>
						<td><a class="navbar_link" href="">Home</a></td>
					</tr>
			</table>
		</div>
	</div>

	{{#stores}}
		{{stores.name}}
	{{/stores}}
	
</body>
</html>