<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/public/styles.css">
</head>
<body>

	<!-- NAVBAR -->
	<div class="navbar">
		<div class="div_for_table">
			<table class="navbar_table">
					<tr>
						<td><a class="navbar_link" href="/stores">Home</a></td>
						<td><a class="navbar_link" href="">View All</a></td>
					</tr>
			</table>
		</div>
	</div>

	<div class="contain_all"><a class="add_store" href="/stores/newstore">Add Store</a>
	<div class="outerlayer_store_info_div">
	{{#stores}}
		<div class="innerlayer_store_info_div">
			<div class="store_name_div"><li>{{name}}<button id="show_desc_button">SHOW</button></li></div>
			<div class="store_description_div">
				<li>Address 1: {{addressone}}</li>
				<li>Address 2: {{addresstwo}}</li>
				<li>City: {{city}}</li>
				<li>State: {{state}}</li>
				<li>Zip: {{zip}}</li>
			</div>
		<div>
	{{/stores}}
	</div>
	</div>

</body>

	<script src="/jquery-3.2.1.min.js"></script>
	<script src="/script.js"></script>

</html>
