.navbar {
	display: flex;
	flex-direction: row;
	background-color: #7BA5FF;
	font-family: "Klavika";
	width: 100%;
}

.div_for_table {
	margin-left: 2.3em;
}

.navbar_table {
	padding: 1.4em 0 1.4em 0;
}

.navbar_link {
	color: #EFEFEF;
	font-size: 1.2em;
	outline: none;
	padding: .8em;
	text-decoration: none;
}

/* WITHIN NEWSTORE.MUSTACHE */
.outer_div_for_form {
	margin: 2em auto 0 auto;
	width: 30%;
}

.store_form {
	display: flex;
	flex-direction: column;
}