body {
	width: 100%;
}

.navbar {
	display: flex;
	flex-direction: row;
	background-color: #7BA5FF;
	font-family: "Klavika";
	width: 100%;
}

.div_for_table {
	margin-left: 2.3em;
}

.navbar_table {
	padding: 1.4em 0 1.4em 0;
}

.navbar_link {
	color: #EFEFEF;
	font-size: 1.2em;
	outline: none;
	padding: .8em;
	text-decoration: none;
}

/* WITHIN STORES.MUSTACHE */
.contain_all{
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	margin: 3em 0 1em 2em;
	padding: .5em;
	width: 20%;
}

.add_store {
	font-size: .8em;
	margin-bottom: .5em;
	text-align: right;
}

.outerlayer_store_info_div {
	border: 1px solid red;
}

.innerlayer_store_info_div {
}

.store_name_div {
	list-style-type: none;
	margin: .3em 0 .3em .5em;
}

#show_desc_button {
	font-size: 8px;
	margin-left: 10px;
}

.store_description_div {
	display: none;
	border: 1px solid black;
	margin: 0 0 .8em 1.5em;
	list-style-type: none;
	width: 80%;
}

/* WITHIN NEWSTORE.MUSTACHE */
.outer_div_for_form {
	margin: 2em auto 0 auto;
	width: 30%;
}

.store_form {
	display: flex;
	flex-direction: column;
}
